{% extends 'main/base.html' %}

{% block title %}Бой{% endblock %}


{% block content %}
{% load static %}

<div class="info">

    <div class="enemy_info_block">
        {% if battle.lvl_range > 10 %}
            <img src="{% static 'main/images/enemy.png' %}" alt="" class="info_block_images">
        {% endif %} 

        {% for i in battle.hearts_enemy %}
            {% if i %}
                {% if battle.fases_enemy == 1 %}
                    <img src="{% static 'main/images/alt_heart.png' %}" alt="" class="info_block_images">
                {% endif %} 

                {% if battle.fases_enemy == 2 %}
                    <img src="{% static 'main/images/alt2_heart.png' %}" alt="" class="info_block_images">
                {% endif %} 

                {% if battle.fases_enemy > 2  %}
                    <img src="{% static 'main/images/full-heart.png' %}" alt="" class="info_block_images">
                {% endif %}
            {% else %}
                <img src="{% static 'main/images/shot_heart.png' %}" alt="" class="info_block_images">
            {% endif %} 
        {% endfor %}

    </div>

    <div class="hero_info_block">
        {% if battle.lvl_points > 0 %}
            <img src="{% static 'main/images/lvl_up.png' %}" alt="" class="info_block_images_lvl">
        {% endif %} 
        {% for j in battle.hearts_hero %}
            {% if j %}
                <img src="{% static 'main/images/full-heart.png' %}" alt="" class="info_block_images">
            {% else %}
                <img src="{% static 'main/images/shot_heart.png' %}" alt="" class="info_block_images">
            {% endif %} 
        {% endfor %}
    </div>

</div>

<div class="hero_images">
    <div class="enemy_images_block" style="background-image: url('{% static battle.image_back_enemy %}')">
        <img src="{% static battle.image_enemy %}" alt="">
    </div>

    <img src="{% static 'main/images/swords.png/' %}" alt="" class="swords">

    <div class="hero_images_block" style="background-image: url('{% static battle.image_hero_back %}')">
        <img src="{% static battle.image_hero %}" alt="">
    </div>
</div>

<div class="hero_actions">
    <div class="hero_actions_enemy">
        <p>Имя - {{ battle.name_enemy }}</p>
        <p>Урон - {{ battle.damage_enemy }}</p>
        <p>Защита - {{ battle.defeat_enemy }}</p>
    </div>

    <div class="hero_actions_level">
        <p>{{ battle.lvl_enemy }}</p>
        <p>LVL</p>
    </div>
    
    <div class="hero_actions_hero">
        <div class="item">
            <a type="submit" href="{% url 'make_damage' %}">
                <img src="{% static 'main/images/sword.png' %}" alt="" class="hero_actions_hero_images" title="Ударить">
            </a>
            <p>{{ battle.damage_hero }}</p>
        </div>

        <div class="item">
            <img src="{% static 'main/images/sheild.png' %}" alt="" class="hero_actions_hero_images_defeat" title="Защита">
            <p>{{ battle.defeat_hero }}</p>
        </div>

        <div class="item">
            <a type="submit" href="{% url 'healing' %}">
                <img src="{% static 'main/images/heal.png' %}" alt="" class="hero_actions_hero_images" title="Восстановить здоровье">
            </a>
            <p>{{ battle.bottles_hero }}</p>
        </div>

        <div class="item">
            <a type="submit" href="{% url 'leave' %}">
                <img src="{% static 'main/images/leave.png' %}" alt="" class="hero_actions_hero_images" title="Убежать">
            </a>
        </div>

    </div>
</div>
{% endblock %}